In [1]:
from pathlib import Path
import soundscapy.ssid.database as db

In [2]:
csv_file = Path('soundscapy/test/test_DB/TestDataOnly_2021-01-07.csv')
sf = db.SurveyFrame().from_csv(csv_file)
sf

,GroupID,SessionID,LocationID,Country,Traffic,Other,Human,Natural,pleasant,chaotic,...,uneventful,calm,annoying,eventful,monotonous,overall,appropriateness,loudness,sss04,sss05
record_id,,,,,,,,,,,,,,,,,,,,,
525,CT101,LocationA1,LocationA,UK,4,3,3,2,2,4,...,2,1,2,4,3,2,3,4,1,2
526,CT101,LocationA1,LocationA,UK,3,1,2,1,4,3,...,2,2,4,3,2,3,4,2,1,3
561,CT101,LocationA1,LocationA,UK,4,3,4,2,3,4,...,1,1,4,2,4,3,2,4,1,3
560,CT102,LocationA1,LocationA,UK,3,2,4,1,4,2,...,5,5,3,2,5,2,4,3,1,2
527,CT103,LocationA1,LocationA,UK,4,2,4,1,3,4,...,1,2,2,4,1,3,4,3,3,3
528,CT104,LocationA1,LocationA,UK,4,3,2,1,2,4,...,1,2,2,4,2,2,3,4,2,3
563,CT201,LocationA2,LocationA,UK,5,3,5,1,2,5,...,1,4,4,4,3,2,2,3,3,4
570,CT201,LocationA2,LocationA,UK,4,3,2,1,2,4,...,1,1,3,5,1,2,5,3,3,5
564,CT202,LocationA2,LocationA,UK,4,4,4,1,3,5,...,2,1,1,5,3,2,3,4,3,3
569,CT202,LocationA2,LocationA,UK,4,3,4,1,4,5,...,2,1,3,4,2,4,4,4,2,3
567,CT203,LocationA2,LocationA,UK,4,5,4,3,4,5,...,2,3,2,5,5,4,4,5,5,5
568,CT203,LocationA2,LocationA,UK,4,2,4,1,4,4,...,2,3,1,4,4,4,5,3,4,3
792,RF101,LocationB1,LocationB,UK,3,1,2,2,5,1,...,1,5,1,3,1,4,4,3,1,5
793,RF101,LocationB1,LocationB,UK,4,5,5,2,5,2,...,4,5,1,1,3,4,5,4,1,3
794,RF102,LocationB1,LocationB,UK,2,1,3,2,5,1,...,3,5,1,3,3,5,5,1,1,4
795,RF102,LocationB1,LocationB,UK,1,2,4,4,5,2,...,2,4,1,4,2,5,5,3,5,5
796,RF103,LocationB1,LocationB,UK,3,4,3,2,4,3,...,3,3,3,3,2,4,3,3,3,4
797,RF103,LocationB1,LocationB,UK,4,4,4,2,3,2,...,3,4,2,3,3,4,3,3,2,3
798,RF104,LocationB1,LocationB,UK,3,1,3,3,5,1,...,1,4,1,3,2,4,4,3,1,5
799,RF104,LocationB1,LocationB,UK,3,1,2,3,4,3,...,3,4,2,2,1,3,2,2,3,4

`SurveyFrame` is just an extension of the pandas `DataFrame`, with some new methods specific to the SSID surveys! You should be able to use any of the standard dataframe methods on it.

`SurveyFrame` automatically tags itself with the date you're working with it, stored in `_analysis_date`

In [3]:
sf._analysis_date

'2021-01-24'

In [4]:
sf.sum()

GroupID            CT101CT101CT101CT102CT103CT104CT201CT201CT202C...
SessionID          LocationA1LocationA1LocationA1LocationA1Locati...
LocationID         LocationALocationALocationALocationALocationAL...
Country                     UKUKUKUKUKUKUKUKUKUKUKUKUKUKUKUKUKUKUKUK
Traffic                                                           70
Other                                                             53
Human                                                             68
Natural                                                           36
pleasant                                                          73
chaotic                                                           64
vibrant                                                           71
uneventful                                                        42
calm                                                              60
annoying                                                          43
eventful                                                          68
monotonous                                                        52
overall                                                           66
appropriateness                                                   74
loudness                                                          64
sss04                                                             46
sss05                                                             72
dtype: object

In [12]:
Pleasant, Eventful = sf.calculate_complex_paqs()
Pleasant.describe()

count    20.000000
mean      0.210248
std       0.366891
min      -0.469670
25%      -0.020146
50%       0.176777
75%       0.460248
max       0.853553
dtype: float64

In [14]:
Eventful

record_id
525    0.426777
526    0.250000
561    0.176777
560   -0.750000
527    0.750000
528    0.676777
563    0.383883
570    0.853553
564    0.676777
569    0.646447
567    0.457107
568    0.353553
792   -0.012563
793   -0.457107
794   -0.366117
795    0.060660
796    0.219670
797   -0.146447
798    0.207107
799   -0.030330
dtype: float64